<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn{
            /* margin: 20px; */
        background-color: seagreen;
        color: white;
        }
    </style>
</head>
<body>
    <h1><%=article.title%></h1>
    <a href="/"><button class="btn">All Articles</button></a>
    <a href="/<%=article.id%>/edit"><button class="btn">Edit</button></a>
    <p><%=article.markdown%></p>
</body>
</html>